.caminho{
    font-family: 'roboto', sans-serif; 
    margin: 70px;
    color: #C6C5C6;
}

.franchise-road{
    width: 50%;
}

 
.container-caminho{
    display: flex;
    max-width: 100vw;
    justify-content: space-around;
}

.item{
    margin: 5px;
    text-align: center;
    font-size: 1.5em;
}

.caminho h2{
    color: white;
    font-size: 33px;
    margin-bottom: 20px;
}

.caminho h3{
    font-size: 28px;
    margin-bottom: 25px;
}

.caminho .item{

    border-right: 1px solid #C6C5C6;
}

.caminho .first{
    border-left: 1px solid #C6C5C6;
}

@media screen and (max-width: 630px){
    .container-caminho{
        display: inline;
        flex-direction: column;
    }

    .caminho .item, .caminho .first{
        border-right: none;
        border-left: none;
        border-bottom: 1px solid #C6C5C6;
    }

    .caminho .last{
        border-bottom: none;
    }

    .caminho .item p{
        margin-bottom: 20px;
    }

    
}