footer{
    width: 100%;
    height: 220px;
    background-color: #C6C5C6;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}

footer p{
    font-size: 180%;
    font-family: 'roboto', sans-serif;
    text-align: center;
}

footer a{
    text-decoration: none;
    color: darkgoldenrod;
}

footer a:hover, footer a:focus{
    border-bottom: 2px solid darkgoldenrod;
}
